
@{
    ViewData["Title"] = "服務項目";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>服務項目</h3>

<div class="card">
    <div class="card-header bg-primary text-white">
        優質圖書網
    </div>
    <div class="card-body">
        <p>圖書編校</p>
        <p>教育訓練</p>
        <p>軟體設計</p>
    </div>
</div>

